center{
    width: 80%;
    height: 650px;
    background-color: #f6f8fa;
    margin: 10px auto auto 120px;
    border-radius: 30px;
}
.photo{
    width: 800px;
    height: 400px;
    background-size: cover;
    background-image: url("../image/home_creation.jpg");/*照片由雅各佈歐文斯在Unsplash上拍攝*/
}